@import url('https://fonts.googleapis.com/css?family=Gaegu');

* {
  box-sizing: border-box;
}

.agenda-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 3rem auto;
  font-family: 'Gaegu', sans-serif;
}

.agenda-title {
  text-align: center;
  padding: 20px;
  color: #45B39D;
  font-size: 2.5rem;
}

.content {
  width: 100%;
}

.row {
  width: 90%;
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.date {
  font-weight: bold;
  color: #333;
}

.city {
  font-weight: bold;
  flex: 1;
}

.venue {
  flex: 2;
  color: #555;
}

.ticket {
  font-weight: bold;
  color: #000;
  border: 3px solid #1DB954;
  background-color: #1DB954;
  border-radius: 10px;
  padding: 6px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ticket:hover {
  background-color: #1ED760;
  border-color: #1ED760;
  border-radius: 15px;
}


.agenda-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  gap: 0.7rem;
  text-transform: uppercase;
  text-align: right;
}

