

* {
  box-sizing: border-box;
}

.row {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}


.agenda-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 3rem auto;
  font-family: 'Gaegu', sans-serif;
}



.content {
  width: 100%;
}


.date {
  font-weight: bold;
  
}

.city {
  flex: 2;
  color: #555;
}

.venue {
  
  font-weight: bold;
  flex: 1;
}

.ticket {
  display: inline-block;
  padding: 0.50rem 1.5rem; /* py-3 px-6 */
  border: 1px solid #1ed760;
  border-radius: 0.5rem;   /* rounded-lg */
  color: #1ed760;
  background-color: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
}

.ticket:hover {
 background-color: #1ed760;
  color: black;
}


.agenda-title {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  gap: 0.7rem;
  text-transform: uppercase;
 padding :3rem !important;
}

@media (max-width: 768px) {
  .agenda-wrapper {
    padding: 1rem;
    margin: 2rem auto;
  }

  .agenda-title {
    font-size: 2rem;
    text-align: center;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 0;
    gap: 0.5rem;
  }

  .date,
  .city,
  .venue,
  .ticket {
    width: 100%;
  }

  .ticket {
    align-self: center;
    text-align: center;
    width: fit-content;
  }
}
