@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
  --background: #0d0d0d;
  --foreground: #ffffff;
  --navbar-height: 70px;
  --transition-speed: 0.3s;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: none !important;
  height: var(--navbar-height);
  background: rgba(0, 0, 0, 0);
   font-family: 'Montserrat', sans-serif !important;
  z-index: 1000;
  transition: top var(--transition-speed) ease;
}

.bio-modal {
  background:#0d0d0d;
}


.navbar--hidden {
  top: -100px;
}

.container {
  margin: 0;
  padding: 0 2rem;
  width: 100vw;
  max-width: 100vw !important; /* override les éventuels styles globaux */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.brand {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  
 display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-inner {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.2s ease;
}

.menu-link:hover {
  color: #ff00c7;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: white;
}


/* Et en mobile */
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: var(--navbar-height);
    right: 0;
    background-color: black;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: height var(--transition-speed) ease;
  }

  .menu.open {
    height: calc(100vh - var(--navbar-height));
  }

  .menu-inner {
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
}

.contact-cta {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.insta-icon {
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.insta-icon:hover {
  color: #e1306c; /* rose Insta */
}
