
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@400&display=swap');

@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-montserrat), sans-serif;
  background: var(--background);
  color: var(--foreground);
  min-height: 100%;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding: 2rem 1rem;
  padding-top: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
}



@keyframes moveRandom1 {
  0% { transform: translate(0, 0) scale(1); }
  20% { transform: translate(-40vw, 20vh) scale(1.2); }
  40% { transform: translate(30vw, -30vh) scale(0.9); }
  60% { transform: translate(-20vw, 10vh) scale(1.1); }
  80% { transform: translate(20vw, 30vh) scale(0.8); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes moveRandom2 {
  0% { transform: translate(0, 0) scale(1); }
  25% { transform: translate(25vw, -25vh) scale(1.1); }
  50% { transform: translate(-35vw, 15vh) scale(0.9); }
  75% { transform: translate(15vw, 35vh) scale(1.2); }
  100% { transform: translate(0, 0) scale(1); }
}

@layer utilities {
  .animate-moveRandom1 {
    animation: moveRandom1 20s ease-in-out infinite;
  }
  .animate-moveRandom2 {
    animation: moveRandom2 25s ease-in-out infinite;
  }
}

.neon {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #520648,
    0 0 30px #520648,
    0 0 40px #520648,
    0 0 50px #520648;
}

.flicker {
  animation: flicker 3s infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px #ff00de,
      0 0 70px #ff00de,
      0 0 80px #ff00de,
      0 0 100px #ff00de,
      0 0 150px #ff00de;
  }
  20%, 21.999%, 63%, 63.999%, 71% {
    text-shadow: none;
  }
}

.carousel-bottom {
  display: none;
}

@media (max-width: 768px) {

  .carousel-bottom {
    display: block;
  }
}
